{% extends "main.html" %}
{% load staticfiles %}

{% block body_block %}
    <div class="col-sm-3 col-sm-offset-4 blog-main">
<form class="form-password-change" role="form" method="post" action=".">
  {% csrf_token %} 

    <label for="id_old_password">Старый пароль:</label>
    <input type="password" class="form-control" placeholder="Старый пароль" id="id_old_password" name="old_password"  required autofocus=""/>
    <br />
    <label for="id_new_password1">Новый пароль:</label>
    <input type="password" class="form-control" placeholder="Новый пароль" id="id_new_password1" name="new_password1"  required />
    <br />
    <label for="id_new_password2">Подтверждение нового пароля:</label>
    <input type="password" class="form-control" placeholder="Подтверждение нового пароля" id="id_new_password2" name="new_password2"  required />
    <br />

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" >Изменить пароль</button>
</form>
    </div>
{% endblock %}